{% extends 'base.html' %}
{% block title %}我的网站{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'prism_patched.min.css' %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/prism_patched.min.js' %}"></script>
    <style>
        a:hover{
            color:orangered;
            text-decoration: none;
        }
        media:hover{
            border:1px solid black;
        }
        .my-badge{
            border-radius:1.2rem;
            color:white;
        }
        .my-badge:nth-child(5n+1){
            background:#78BBE6;
        }
        .my-badge:nth-child(5n+2){
            background:#FF895D;
        }
        .my-badge:nth-child(5n+3){
            background:#A3DE83;
        }
        .my-badge:nth-child(5n+4){
            background:#00BBF0;
        }
        .my-badge:nth-child(5n+5){
            background:#FF2E63;
        }
        img{
            transform：scale(1,1);
        }
        img:hover{
            transform: scale(1.2,1.2);
        }
    </style>
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                {% for blog in blogs %}
                    <div class="media"
                         style="margin-left:15px;margin-right:15px;
                         display: flex;background-color: white;
                         border:1px solid #fff;padding:2em 2em;">
                        <div class="media-left media-middle">
                            <img src="media/{{ blog.img }}" style="width:160px;" alt="" class="media-object">
                        </div>
                        <div class="media-body" style="padding-left:30px;margin-bottom:1rem !important;">
                            <h4 class="media-heading">
                                <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                            </h4>
                            <p style="margin-right:20px;">
                                {{ blog.content|striptags|truncatechars:150 }}&nbsp;&nbsp;>>
                                <a href="{% url 'blog_detail' blog.pk %}">查看详细</a>
                            </p>
                            <div style="font-size:12px;">
                                <a href="{% url 'blogs_with_type' blog.blog_type.pk %}" class="cate">
                                    <i class="glyphicon glyphicon-book "></i>
                                    {{ blog.blog_type }}
                                </a>&nbsp;&nbsp;
                                <span>
                                    <i class="glyphicon glyphicon-eye-open"></i>{{ blog.get_read_num }}
                                </span>&nbsp;&nbsp;
                                <a href="">
                                    <i class="glyphicon glyphicon-comment"></i>{% get_comment_count blog %}
                                </a>
                                <span class="glyphicon glyphicon-time"></span> {{ blog.created_time|date:"Y-m-d" }}&nbsp;
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="blog">
                        <h3>暂无博客，敬请期待</h3>
                    </div>
                {% endfor %}
                <div class="paginator">
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 全部页码 #}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 下一页 #}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客，
                        当前第{{ page_of_blogs.number }}页，共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li style="margin-bottom: 0.3em;">
                                    <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                        {{ blog_type.type_name }}
                                        <span class="pull-right" style="width:2.2em;
                                        background-color: #17a2b8;color:#fff;text-align: center;
                                        font-weight: 700;border-radius:0.2rem;">
                                            {{ blog_type.blog_count }}
                                        </span>
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li style="margin-bottom: 0.2em;">
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }}
                                         <span class="pull-right" style="width:2.2em;
                                        background-color: #17a2b8;color:#fff;text-align: center;
                                        font-weight: 700;border-radius:0.2rem;">
                                            {{ blog_count }}
                                        </span>
                                    </a>                                    
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading ">标签云</div>
                    <div class="panel-body">
                        <div class="card-body">
                            {% for type in blog_types %}
                                <span class="badge my-badge">
                                    <a href="{% url 'blogs_with_type' type.pk %}" class="tags"
                                    data-toggle="tooltip" data-placement="top" title="该类型下有{{ type.blog_count }}篇文章">
                                        {{ type.type_name }}
                                    </a>
                                </span>
                            {% empty %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
